body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.bg-gray-800 {
  background-color: #1f2937;
}

.bg-gray-900 {
  background-color: #111827;
}

.bg-gray-700 {
  background-color: #374151;
}

.bg-gray-400 {
  background-color: #9ca3af;
}

.text-white {
  color: white;
}

.p-2 {
  padding: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.rounded {
  border-radius: 0.5rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-2 {
  gap: 0.5rem;
}

.absolute {
  position: absolute;
}

.top-12 {
  top: 3rem;
}

.left-0 {
  left: 0;
}

.left-24 {
  left: 6rem;
}

.left-28 {
  left: 7rem;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.h-8 {
  height: 2rem;
}

.items-center {
  align-items: center;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}